
<!DOCTYPE html>
{%  load static %}
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dorbesh - Creative Portfolio Showcase Template">
    <meta name="keywords" content="personal, portfolio new, html, one page, bootstrap, new html template, design, creative, onepage, clean, modern">
    <meta name="author" content="Themesvila">
    <title>Muhammad Tayyab Portfolio</title>
    <link rel="apple-touch-icon" href="{% static 'assets/images/favicon.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/fonts/remixicon.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/spacing.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    
</head>

<body>
    <!-- START PRELOADER AREA-->
    <div class="preloader">
        <svg viewbox="0 0 1000 1000" preserveaspectratio="none">
            <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
        </svg>
        <div class="preloader-heading">
            <div class="load-text">
                <span>W</span>
                <span>E</span>
                <span>L</span>
                <span>C</span>
                <span>O</span>
                <span>M</span>
                <span>E</span>
            </div>
        </div>
    </div>
    <!-- END PRELOADER AREA -->
   
    <!-- / END MENU DESIGN AREA -->
    
   
 
   	
    
   
    <!-- // END PORTFOLIO DESIGN AREA -->
   <!-- START PRICING DESIGN AREA -->
    <section id="pricing" class="pricing-area">
        <div class="container">
            <div class="container-inner">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="section-title text-center wow fadeInUp delay-0-2s">
                            <p>Pricing</p>
                            <h2>Flexible Pricing Plan</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- START SINGLE PRICING DESIGN AREA -->
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-item wow fadeInUp delay-0-2s">
                            <div class="pricing-header">
                                <h4 class="title">Basic</h4>
                                <p class="save-percent">
                                    Have design ready to build? <br>
                                    or small budget
                                </p>
                                <span class="price">15</span>
                            </div>
                            <div class="pricing-details">
                                <ul>
                                    <li><i class="ri-arrow-right-line"></i>Need your wireframe</li>
                                    <li><i class="ri-arrow-right-line"></i>Design with Figma, Framer</li>
                                    <li><i class="ri-arrow-right-line"></i>Product Design</li>
                                    <li class="unable"><i class="ri-arrow-right-line"></i>Digital Marketing</li>
                                    <li class="unable"><i class="ri-arrow-right-line"></i>Custom Support</li>
                                </ul>
                                <a href="#" class="theme-btn">Order Now <i class="ri-shopping-basket-line"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- / END SINGLE PRICING DESIGN AREA -->
                    <!-- START SINGLE PRICING DESIGN AREA -->
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-item wow fadeInUp delay-0-4s">
                            <div class="pricing-header">
                                <h4 class="title">Standard</h4>
                                <p class="save-percent">
                                    Not have any design? <br>
                                    Leave its for me
                                </p>
                                <span class="price">59</span>
                            </div>
                            <div class="pricing-details">
                                <ul>
                                    <li><i class="ri-arrow-right-line"></i>Website Design</li>
                                    <li><i class="ri-arrow-right-line"></i>Mobile Apps Design</li>
                                    <li><i class="ri-arrow-right-line"></i>Product Design</li>
                                    <li><i class="ri-arrow-right-line"></i>Digital Marketing</li>
                                    <li class="unable"><i class="ri-arrow-right-line"></i>Custom Support</li>
                                </ul>
                                <a href="#" class="theme-btn">Order Now <i class="ri-shopping-basket-line"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- / END SINGLE PRICING DESIGN AREA -->
                    <!-- START SINGLE PRICING DESIGN AREA -->
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-item wow fadeInUp delay-0-4s">
                            <div class="pricing-header">
                                <h4 class="title">Standard</h4>
                                <p class="save-percent">
                                    Not have any design? <br>
                                    Leave its for me
                                </p>
                                <span class="price">59</span>
                            </div>
                            <div class="pricing-details">
                                <ul>
                                    <li><i class="ri-arrow-right-line"></i>Website Design</li>
                                    <li><i class="ri-arrow-right-line"></i>Mobile Apps Design</li>
                                    <li><i class="ri-arrow-right-line"></i>Product Design</li>
                                    <li><i class="ri-arrow-right-line"></i>Digital Marketing</li>
                                    <li class="unable"><i class="ri-arrow-right-line"></i>Custom Support</li>
                                </ul>
                                <a href="#" class="theme-btn">Order Now <i class="ri-shopping-basket-line"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- / END SINGLE PRICING DESIGN AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END PRICING DESIGN AREA -->	
    <!-- START TESTIMONIALS DESIGN AREA -->
    <section class="testimonials-area">
        <div class="container">
            <div class="container-inner">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="section-title text-center wow fadeInUp delay-0-2s">
                            <p>Testinomials</p>
                            <h2>What clients say!</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonials-wrap">
                            <!-- START SINGLE TESTIMONIALS DESIGN AREA -->
                            <div class="testimonial-item wow fadeInUp delay-0-3s">
                                <div class="author">
                                    <img src="assets/images/testimonials/author1.jpg" alt="Author" />
                                </div>
                                <div class="text">
                                    Financial planners help people to knowledge in about how to
                                    invest and in save their moneye the most efficient way eve plan
                                    ners help people tioniio know ledige in about how.
                                </div>
                                <div class="testi-des">
                                    <h5>Zonathon Doe</h5>
                                    <span>CEO & Founder X</span>
                                </div>
                            </div>
                            <!-- / END SINGLE TESTIMONIALS DESIGN AREA -->
                            <!-- START SINGLE TESTIMONIALS DESIGN AREA -->
                            <div class="testimonial-item wow fadeInUp delay-0-4s">
                                <div class="author">
                                    <img src="assets/images/testimonials/author2.jpg" alt="Author" />
                                </div>
                                <div class="text">
                                    Financial planners help people to knowledge in about how to
                                    invest and in save their moneye the most efficient way eve plan
                                    ners help people tioniio know ledige in about how.
                                </div>
                                <div class="testi-des">
                                    <h5>Liana Marie</h5>
                                    <span>Lead Designer Meta</span>
                                </div>
                            </div>
                            <!-- / END SINGLE TESTIMONIALS DESIGN AREA -->
                            <!-- START SINGLE TESTIMONIALS DESIGN AREA -->
                            <div class="testimonial-item wow fadeInUp delay-0-2s">
                                <div class="author">
                                    <img src="assets/images/testimonials/author1.jpg" alt="Author" />
                                </div>
                                <div class="text">
                                    Financial planners help people to knowledge in about how to
                                    invest and in save their moneye the most efficient way eve plan
                                    ners help people tioniio know ledige in about how.
                                </div>
                                <div class="testi-des">
                                    <h5>Zonathon Doe</h5>
                                    <span>CEO & Founder X</span>
                                </div>
                            </div>
                            <!-- / END SINGLE TESTIMONIALS DESIGN AREA -->
                            <!-- START SINGLE TESTIMONIALS DESIGN AREA -->
                            <div class="testimonial-item wow fadeInUp delay-0-4s">
                                <div class="author">
                                    <img src="assets/images/testimonials/author2.jpg" alt="Author" />
                                </div>
                                <div class="text">
                                    Financial planners help people to knowledge in about how to
                                    invest and in save their moneye the most efficient way eve plan
                                    ners help people tioniio know ledige in about how.
                                </div>
                                <div class="testi-des">
                                    <h5>Liana Marie</h5>
                                    <span>Lead Designer Meta</span>
                                </div>
                            </div>
                            <!-- / END SINGLE TESTIMONIALS DESIGN AREA -->
                        </div>
                        <div class="slider-arrows wow fadeInUp delay-0-6s text-center pt-40">
                            <button class="testimonial-prev">
                                <i class="ri-arrow-left-s-line"></i>
                            </button>
                            <button class="testimonial-next">
                                <i class="ri-arrow-right-s-line"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / END TESTIMONIALS DESIGN AREA -->	
    <!-- START BRAND DESIGN AREA -->
    <div class="client-logo-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="section-title text-center pt-5 mb-65 wow fadeInUp delay-0-2s">
                        <p>Company I work</p>
						<h2>300+ Global Clients</h2>
                    </div>
                </div>
            </div>
            <div class="client-logo-wrap">
                <a class="client-logo-item wow fadeInUp delay-0-2s">
                    <img src="assets/images/client-logos/partner1.png" alt="brand Logo" />
                </a>
                <a class="client-logo-item wow fadeInUp delay-0-3s">
                    <img src="assets/images/client-logos/partner2.png" alt="brand Logo" />
                </a>
                <a class="client-logo-item wow fadeInUp delay-0-4s">
                    <img src="assets/images/client-logos/partner3.png" alt="brand Logo" />
                </a>
                <a class="client-logo-item wow fadeInUp delay-0-5s">
                    <img src="assets/images/client-logos/partner4.png" alt="brand Logo" />
                </a>
                <a class="client-logo-item wow fadeInUp delay-0-6s">
                    <img src="assets/images/client-logos/partner1.png" alt="brand Logo" />
                </a>
                <a class="client-logo-item wow fadeInUp delay-0-2s">
                    <img src="assets/images/client-logos/partner4.png" alt="brand Logo" />
                </a>
                <a class="client-logo-item wow fadeInUp delay-0-3s">
                    <img src="{% static 'assets/images/client-logos/partner4.png'%}" alt="brand Logo" />
                </a>
                <a class="client-logo-item wow fadeInUp delay-0-4s">
                    <img src="{%static 'assets/images/client-logos/partner2.png'%}" alt="brand Logo" />
                </a>
                <a class="client-logo-item wow fadeInUp delay-0-5s">
                    <img src="{% static 'assets/images/client-logos/partner3.png'%}" alt="brand Logo" />
                </a>
                <a class="client-logo-item wow fadeInUp delay-0-6s">
                    <img src="{$ static 'assets/images/client-logos/partner1.png'%}" alt="brand Logo" />
                </a>
            </div>
        </div>
    </div>
    <!-- END BRAND DESIGN AREA -->	
    <!-- START VLOG DESIGN AREA -->
    <section id="blog" class="blog-area">
        <div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="section-title text-center wow fadeInUp delay-0-2s">
						<p>Latest News</p>
						<h2>Stories</h2>
					</div>
				</div>
			</div>
            <!-- START SINGLE VLOG DESIGN AREA -->
            <div class="row blog-post-box align-items-center">
                <div class="col-lg-6">
                    <div class="blog-post-img">
                        <a href="#">
                            <img src="{% static 'assets/images/blog/blog1.jpg'%}" alt="">
                        </a>
                        <div class="blog-post-category">
                            <a href="#">Help</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-post-caption">
                        <h3>Posted on november 28</h3>
                        <h2><a class="link-decoration" href="single-project.html">Create a Landing Page That Performs Great</a></h2>
                        <a class="theme-btn theme-btn-two" href="single-project.html">Read more <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
            </div>
            <!-- START SINGLE VLOG DESIGN AREA -->
            <!-- START SINGLE VLOG DESIGN AREA -->
            <div class="row blog-post-box align-items-center">
                <div class="col-lg-6">
                    <div class="blog-post-img">
                        <a href="#">
                            <img src="{% static 'assets/images/blog/blog2.jpg'%}" alt="">
                        </a>
                        <div class="blog-post-category">
                            <a href="#">Branding</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-post-caption">
                        <h3>Posted on november 28</h3>
                        <h2><a class="link-decoration" href="single-project.html">Starting and Growing a Career in Web Design</a></h2>
                        <a class="theme-btn theme-btn-two" href="single-project.html">Read more <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
            </div>
            <!-- START SINGLE VLOG DESIGN AREA -->
            <!-- START SINGLE VLOG DESIGN AREA -->
            <div class="row blog-post-box align-items-center">
                <div class="col-lg-6">
                    <div class="blog-post-img">
                        <a href="#">
                            <img src="{% static 'assets/images/blog/blog3.jpg'%}" alt="">
                        </a>
                        <div class="blog-post-category">
                            <a href="#">Design</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-post-caption">
                        <h3>Posted on november 28</h3>
                        <h2><a class="link-decoration" href="single-project.html">How Can Designers Prepare for the Future?</a></h2>
                        <a class="theme-btn theme-btn-two" href="single-project.html">Read more <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
            </div>
            <!-- START SINGLE VLOG DESIGN AREA -->
        </div>
    </section>
    <!-- / END VLOG DESIGN AREA -->			
   
    <!-- START CALL TO ACTION DESIGN AREA -->
    <section class="call-to-action-area">
        <div class="container">
            <div class="row">
                <!-- START ABOUT TEXT DESIGN AREA -->
                <div class="col-lg-12">
                    <div class="call-to-action-part wow fadeInUp delay-0-2s text-center">
                        <h2>Are You Ready to <span>kickstart</span> your <span>project</span> with a touch of magic?</h2>
                        <p>Reach out and let's make it happen ✨. I'm also available for full-time or Part-time opportunities to push the boundaries of design and deliver exceptional work.</p>
                        <div class="hero-btns">
                            <a href="#contact" class="theme-btn">Let's Talk <i class="ri-download-line"></i></a>
                        </div>
                    </div>
                </div>
                <!-- / END ABOUT TEXT DESIGN AREA -->
            </div>
        </div>
    </section>
    <!--  // END CALL TO ACTION DESIGN AREA -->
	<!-- START MAP -->
	<section class="map_area">	
		<div class="container">		
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">	
					<h2 class="map_title">View My Live Map Location</h2>
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.957183635167!2d-74.00402768559431!3d40.71895904512855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2598a1316e7a7%3A0x47bb20eb6074b3f0!2sNew%20Work%20City%20-%20(CLOSED)!5e0!3m2!1sbn!2sbd!4v1600305497356!5m2!1sbn!2sbd" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
						<h2 class="close_btn">Hide Map</h2>		
					</div> 							
				</div><!-- END COL-->
			</div><!--- END ROW -->			
		</div><!--- END CONTAINER -->
	</section>
	<!-- END  MAP -->	
    <!-- START FOOTER DESIGN AREA -->
    <footer class="main-footer">
        <div class="footer-bottom pt-50 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright-text">
                            <p>
                                Copyright @2024, <a href="index-2.html">Dorbesh</a> All
                                Rights Reserved.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="copyright-text extra-copyright">
                            <p>
                                Crafted with ❤️ Themesvila
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <div class="progress-wrap cursor-pointer">
        <i class="ri-arrow-up-double-line"></i>
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>    
    <script src="{% static 'assets/js/appear.min.js' %}"></script>
	<script src="{% static 'assets/js/smooth-scroll.js' %}"></script>		
    <script src="{% static 'assets/js/gsap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>


</html>