{%  load static %}

<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>    
<script src="{% static 'assets/js/appear.min.js' %}"></script>
<script src="{% static 'assets/js/smooth-scroll.js' %}"></script>		
<script src="{% static 'assets/js/gsap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
<script> src="{% static 'assets/js/bootstrap.min.js.map' %}"</script>