<!-- START PRICING DESIGN AREA -->
<section id="pricing" class="pricing-area">
    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="section-title text-center wow fadeInUp delay-0-2s">
                        <p>Pricing</p>
                        <h2>Flexible Pricing Plan</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- START SINGLE PRICING DESIGN AREA -->
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item wow fadeInUp delay-0-2s">
                        <div class="pricing-header">
                            <h4 class="title">Basic</h4>
                            <p class="save-percent">
                                Need a simple website or app? <br>
                                Or a small AI integration.
                            </p>
                            <span class="price">$15</span>
                        </div>
                        <div class="pricing-details">
                            <ul>
                                <li><i class="ri-arrow-right-line"></i>Static Website</li>
                                <li><i class="ri-arrow-right-line"></i>Basic Frontend Development</li>
                                <li><i class="ri-arrow-right-line"></i>Basic AI Implementation</li>
                                <li class="unable"><i class="ri-arrow-right-line"></i>Advanced Backend</li>
                                <li class="unable"><i class="ri-arrow-right-line"></i>Custom AI Models</li>
                            </ul>
                            <a href="#" class="theme-btn">Order Now <i class="ri-shopping-basket-line"></i></a>
                        </div>
                    </div>
                </div>
                <!-- / END SINGLE PRICING DESIGN AREA -->
                
                <!-- START SINGLE PRICING DESIGN AREA -->
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item wow fadeInUp delay-0-4s">
                        <div class="pricing-header">
                            <h4 class="title">Standard</h4>
                            <p class="save-percent">
                                Dynamic app or AI-powered web app
                            </p>
                            <span class="price">$59</span>
                        </div>
                        <div class="pricing-details">
                            <ul>
                                <li><i class="ri-arrow-right-line"></i>Full Stack Web App Development</li>
                                <li><i class="ri-arrow-right-line"></i>Mobile App Design</li>
                                <li><i class="ri-arrow-right-line"></i>Frontend & Backend Integration</li>
                                <li><i class="ri-arrow-right-line"></i>AI Integrations (Chatbots, NLP)</li>
                                <li class="unable"><i class="ri-arrow-right-line"></i>Custom AI Models</li>
                            </ul>
                            <a href="#" class="theme-btn">Order Now <i class="ri-shopping-basket-line"></i></a>
                        </div>
                    </div>
                </div>
                <!-- / END SINGLE PRICING DESIGN AREA -->

                <!-- START SINGLE PRICING DESIGN AREA -->
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item wow fadeInUp delay-0-4s">
                        <div class="pricing-header">
                            <h4 class="title">Premium</h4>
                            <p class="save-percent">
                                Full-stack solution with advanced AI features. <br>
                               
                            </p>
                            <span class="price">$149</span>
                        </div>
                        <div class="pricing-details">
                            <ul>
                                <li><i class="ri-arrow-right-line"></i>Custom Full Stack Development</li>
                                <li><i class="ri-arrow-right-line"></i>AI Predictive Analytics,Deep Learning</li>
                                <li><i class="ri-arrow-right-line"></i>Custom APIs & Integrations</li>
                                <li><i class="ri-arrow-right-line"></i>Real-time Data Processing</li>
                                <li><i class="ri-arrow-right-line"></i>AI Model Training & Deployment</li>
                            </ul>
                            <a href="#" class="theme-btn">Order Now <i class="ri-shopping-basket-line"></i></a>
                        </div>
                    </div>
                </div>
                <!-- / END SINGLE PRICING DESIGN AREA -->
            </div>
        </div>
    </div>
</section>
<!-- / END PRICING DESIGN AREA -->
